<% layout('layouts/blogBoilerplate')%>

<div class="container mb-5">
  <div class="col-12">
    <div class="card mb-3">
      <img src="<%= post.image%>" class="img-fluid post-img" />
      <div class="card-body">
        <h5 class="card-title"><%= post.title%></h5>
        <p class="card-text"><%= post.body%></p>
        <% if( currentUser && post.author.equals(currentUser._id)) {%>
        <div class="card-body">
          <a
            href="/blog/<%=post._id%>/edit"
            class="btn btn-dark text-light card-link"
            >Edit post</a
          >
          <form
            class="d-inline"
            action="/blog/<%=post._id%>?_method=DELETE"
            method="POST">
            <button class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
        <%} %>
      </div>
    </div>
    <div class="post-comments offset-3">
      <h4>Leave a comment:</h4>
      <form
        action="/blog/<%=post._id%>/comments"
        method="POST"
        class="mb-5 validated-form"
        novalidate>
        <div class="mb-3 flex">
          <label class="form-label" for="username">Username</label>
          <input
            class="form-control col-8"
            type="text"
            name="comment[username]"
            id="username"
            required />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3 flex">
          <label class="form-label" for="body">Text</label>
          <textarea
            class="form-control col-8"
            type="text"
            name="comment[body]"
            id="body"
            required></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <button class="btn btn-success">Add comment</button>
        </div>
      </form>
      <% for (let comment of post.comments) { %>
      <div class="card mb-3 p-2 col-8">
        <div class="comment-username mb-1"><%=comment.username%>:</div>
        <div class="comment-body"><%=comment.body%></div>
        <% if( currentUser && post.author.equals(currentUser._id)) {%>
        <form
          action="/blog/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
          method="POST">
          <button type="submit" class="btn btn-sm btn-outline-danger mb-1 mt-3">
            Delete Comment
          </button>
        </form>

        <%}%>
      </div>
      <%}%>
    </div>
  </div>
</div>
